@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

:root {
    --clr-accent: #e6e6e6;
    --clr-dark: #2d2d2d;

    --fnt-main: 'Roboto', sans-serif;
    --fnt-accent: 'Lobster', cursive;
}

body{
    background-color: var(--clr-dark);
    margin: 0 auto;
    text-align: center;
    color: var(--clr-accent);
    font-family: var(--fnt-main);
}

b {
    font-size: 1.2rem;
}

h1 {
    font-family: var(--fnt-accent);
    font-size: 4rem;
    color: var(--clr-accent);
}

a {
    color: var(--clr-accent);
}

ul li {
    list-style: none;
    padding: 5px 20px;
}

ol {
    width: fit-content;
    margin: 0 auto;
}

.banner {
    width: 100%;
}

header {
    padding: 0;
    top: 0;
}

nav ul li {
    display: inline-block;
}

nav a {
    font-size: 1.25rem;
    text-decoration: none;
    font-family: var(--fnt-main);
    transition: 0.2s;
}

nav a:hover {
    font-size: 1.5rem;
    text-decoration: underline;
}

.card {
    --card-width: 18.75rem;
    --offset-y: 0.01rem;
    --blur-radius: 0.5rem;
    vertical-align: top;
    margin-top: 5rem;
    margin-left: 1rem;
    display: inline-block;
    box-shadow: 0 var(--offset-y) var(--blur-radius) 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 0.3rem; /* approx 5px rounded corners */
    width: var(--card-width);
  }

.card:hover {
  box-shadow: 0 calc(8*var(--offset-y)) calc(2*var(--blur-radius)) 0 rgba(0, 0, 0, 0.2);
}

.card img {
    border-radius: 0.3rem 0.3rem 0 0;
    width: var(--card-width);
}
.container {
    padding: 2px 16px;
}

section {
    margin: 0 20%;
}

footer {
    padding-top: 50px;
    opacity: 0.5;
}